:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #ed0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62%;
    box-sizing: border-box;
}

body, input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Genos', sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h3, h4 {
    font-weight: 500;
}

header {
    position: relative; 
}

.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.container {
   width: 100%;
   max-width: 117rem;
   margin: 0 auto;
   padding: 0 1.6rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav_list {
    display: flex;
}

.nav_item {
    margin: 1.2rem;
}
