:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #ed0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62%;
    box-sizing: border-box;
}

body, input {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Genos', sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h3, h4 {
    font-weight: 500;
}

header {
    position: relative; 
}

.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.container {
   width: 100%;
   max-width: 117rem;
   margin: 0 auto;
   padding: 0 1.6rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    padding: 0 1rem;
}

.nav_phone {
    display: none;
    cursor: pointer;
}

.nav_phone i {
    height: 2.3rem;
    width: 23rem;
}

.nav_logo a {
    font-size: 3rem;
    color: var(--black);
    padding: 1.6rem;
    font-weight: 700;
}

.menu_top {
    display: none;
}

.nav_menu {
    width: 50%;
}

.nav_list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.nav_item:not(:last-child) {
    margin-right: 5rem;
}

.nav_list .nav_link:link,
.nav_list .nav_link:visited {
    display: inline-block;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bold;
    color: var(--black);
    transition: color .3s ease-in-out;
}

.nav_list .nav_link:hover {
    color: var(--orange);
}

.nav_icons {
    display: flex;
    position: relative;
}

.nav_icons .icon_item i {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    text-align: center;
  
}

.nav_icons .icon_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid var(--black);
    border-radius: 100%;
    transition: all .3s ease-in-out;
}

.nav_icons .icon_item:link,
.nav_icons .icon_item:visited {
    color: var(--black);
}

.nav_icons .icon_item:hover {
    background-color: var(--orange);
    border: 1px solid var(--black);
}

.nav_icons .icon_item:not(:last-child) {
    margin-right: 1rem;
}

.nav_icons #cart_total {
    font-size: 1.3rem;
    position: absolute;
    bottom: 25px;
    right: -4px;
    background-color: var(--orange);
    padding: .2rem .4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}

@media only screen and (max-width: 768px) {
    .nav_menu {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: var(--white);
        z-index: 9990;
        height: 100%;
        transition: all .3s;
    }

    .nav_menu.open {
        left: 0rem;
        width: 30rem;
    }
    
}
